/*** エンドロール ***/
.end-roll {
  position: fixed; /*固定表示*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-weight: normal;
  overflow: hidden; /*範囲外は非表示*/
  font-size: 2rem;
  text-transform: uppercase; /*全て大文字*/
}
.end-roll p {
  position: absolute;
  bottom: -100px; /*画面外に控える*/
  left: 0;
  right: 0;
  margin: 0 auto; /*中央寄せ*/
  animation: up-text 20s linear forwards;
}

/*** 各段落ごとに遅延時間を設定 ***/
.end-roll p:nth-child(2) {
  animation-delay: 3s;
}
.end-roll p:nth-child(3) {
  animation-delay: 6s;
}
.end-roll p:nth-child(4) {
  animation-delay: 9s;
}
.end-roll p:nth-child(5) {
  animation-delay: 12s;
}
.end-roll p:nth-child(6) {
  animation-delay: 15s;
}
.end-roll p:nth-child(7) {
  animation-delay: 18s;
}
.end-roll p:nth-child(8) {
  animation-delay: 21s;
}
.end-roll p:nth-child(9) {
  animation-delay: 24s;
}
.end-roll p:nth-child(10) {
  animation-delay: 27s;
}
.end-roll p:nth-child(11) {
  animation-delay: 30s;
}
.end-roll p:nth-child(12) {
  animation-delay: 33s;
}
.end-roll p:nth-child(13) {
  animation-delay: 36s;
}
.end-roll p:nth-child(14) {
  animation-delay: 39s;
}
.end-roll p:nth-child(15) {
  animation-delay: 42s;
}
.end-roll p:nth-child(16) {
  animation-delay: 45s;
}
.end-roll p:nth-child(17) {
  animation-delay: 48s;
}
.end-roll p:nth-child(18) {
  animation-delay: 51s;
}
.end-roll p:nth-child(19) {
  animation-delay: 54s;
}
.end-roll p:nth-child(20) {
  animation-delay: 57s;
}
.end-roll p:nth-child(21) {
  animation-delay: 60s;
}

/*** 上に流れるアニメーション ***/
@keyframes up-text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100vh - 100px));
  }
}

/***項目用スタイル***/
.role {
  font-weight: bold;
}
